header {
  float: center;
  margin-left: 0px;
  margin-bottom: 100px; }

main {
  margin-left: 250px;
  margin-top: -50px; }

ul {
  float: center;
  position: relative;
  margin-top: -20px;
  border: none; }

li {
  display: inline;
  border: none;
  margin-right: -5px; }

.word {
  display: block;
  font-size: 60px;
  float: center;
  text-align: center;
  margin-right: 280px;
  font-family: helvetica; }

.HangWoman1 {
  height: 200px;
  width: 300px; }

.HangWoman2 {
  height: 200px;
  width: 300px; }

.HangWoman3 {
  height: 200px;
  width: 300px; }

.HangWoman4 {
  height: 200px;
  width: 300px; }

.HangWoman5 {
  height: 200px;
  width: 300px; }

.HangWoman6 {
  height: 200px;
  width: 300px; }

.align {
  display: inline; }
